<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <ion-button class="swipe-split-button split-button" color="light" expand="block" (click)="handleClickSwipeSplit()">
          <img src="../../assets/swipesplit-button.svg">
        </ion-button>
    </div>
    <div padding>
        <ion-button class="grid-split-button split-button" color="light" expand="block" (click)="handleClickGridSplit()">
          <img src="../../assets/gridsplit-button.svg">
        </ion-button>
    </div>
</ion-content>
